* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    background-color: #FFFF99;
    cursor: cell;
    padding: 10px 30px;
    background-image: url(glass.jpg);
    overflow: hidden;
}

h1 {
    color: navy;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px -1px blue;
    margin-bottom: 10px;
    margin-left: 250px;
    margin-right: 250px;
    background: linear-gradient(0deg, #564711, #008822, #564711);
}

/*---------- команды ----------------------------------------------------*/
.comm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vlad , .neto {
    width: 25%;
    height: 50vh;
    max-width: 300px;
    margin-bottom: 20vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #00ff00;
    text-shadow: 1px -1px #330000;
    position: relative;
    border-radius: 15%;
    background:  linear-gradient(170deg, #564711, #008822, #564711);
        box-shadow: 3px -3px #333333;

}

.neto {
    color: red;
    background:  linear-gradient(-10deg,  #008822, #564711, #008822);
}

.commandvlad {
    width: 70%;
    height: 77%;
    position: absolute;
    left: 15%;
    top: 14%;
    background-image: url(vlaps.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5%;
}

.commandvlad > span , .commandneto > span {
    position: absolute;
    top: 80%;
    z-index: 3;
    font-size: 4.5vh;
    font-weight: bold;
    color: navy;
    text-shadow: 2px -2px #00ffff;
}

.commandneto > span {
    top: 99%;
    left: -14%;
    width: 128%;
    color: red;
    font-size: 3.7vh;
}

.commandneto {
    width: 78%;
    height: 47%;
    left: 11%;
    top: 21%;
    position: absolute;
    background-image: url(netology.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5%;
}
.commandnetodown , .commandvladdown {
    position: absolute;
    width: 70%;
    height: 15%;
    left: 15%;
    top: 76%;
    background-image: url(netologo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.commandvladdown {
    width: 66%;
    height: 15%;
    left: 17%;
    top: 73%;
    background-image: url(gazprom.jpg);
    opacity: 0.7;
}

@keyframes stepball {
    from {opacity: 1;}
    30% {opacity: 1;}
    to {opacity: 0;}
}

.stepballblind {
    animation-name: stepball;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.stepred, .stepgre {
    position: absolute;
    width: 6%;
    height: 6%;
    background-image: url(nol2.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 92%;
    left: 47%;
}

.stepgre {
    background-image: url(nol1.svg);
}

.silenzium /*, .secretend */{
    position: absolute;
    top: 55vh;
    font-weight: bold;
    text-transform: none;
    left: 0;
    width: 100%;
    height: 5vh;
    overflow: hidden;
    background:  linear-gradient(25deg, #564711, #008822);
    border-radius: 7px;
}

.silenzium > .rendzu , .silenzium > .paintball , .secretend {
    position: absolute;
    left: 100%;
    text-align: left;
    font-family: monospace;
    font-size: 5vh;
    color: white;
    text-shadow: 2px -1px blue;
}


.buttons {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 70vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:  linear-gradient(-25deg,  #008822, #564711, #008822);

}

.begin, .soundoff {
    color: navy;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    background-color: #00ff00;
    cursor: pointer;
    filter: drop-shadow(2px -2px #220000);
}

.secret {
    position: absolute;
    top: 75vh;
    left: 0;
    font-size: 10px;
    color: #ffffff;
    background-color: rgba(0%, 100%, 50%, 0.2);
    width: 20%;
    height: 10%;
    cursor: pointer;
}

.pushnot {
    background-color: orange;
}

/*------- игровое поле рендзю --------------------------------------------------*/
.pole {
    outline: solid 5px #888888;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    background-color: #888888;
}

.cell {
    position: relative;
    padding: 2px;
    box-sizing: border-box;
}

.romb {
    width: 100%;
    height: 100%;
}
.romb:hover {
    filter: brightness(1.4) saturate(2);
    outline: 3px green solid;
}

.stonered, .stonegre {
    position: absolute;
    width: 30px;
    top: 5px;
    left: 5px;
    visibility: hidden;
}

.num {
    position: absolute;
    display: inline;
    top: 5px;
    left: 5px;
}

/*------------ игра пейнтбол ----------------------------*/

@keyframes shortr {
    from {transform: translateX(0px) scale(1);}

    50% {transform: translateX(220px) scale(1);}

    to {transform: translateX(220px) scale(4);
        background-image: url(klaksa.png);}
}

.shotred {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 2;
    background-image: url(nol2.svg);
    background-size: cover;
    animation-name: shortr;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.hidd {
    display: none;
}

.paintballback {
    background-image: url(metal.jpg);
}

/*------------ всплывающее окно ----------------------------*/
.popup {
    position: fixed;
    top:10vh;
    left: calc(50vw - 44vh);
    width: 88vh;
    height: 88vh;
    background:  linear-gradient(10deg,  #008822, #564711, #008822, #564711);
    border-radius: 10%;
}

.vinvlad , .vinneto , .vinnone {
    position: absolute;
    top: 15%;
    left: 11.5%;
    width: 77%;
    height: 60%;
    background-image: url(vlaps.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    box-sizing: border-box;
    filter: drop-shadow(2px -2px #220000);
}
.vinneto {
    background-image: url(netology.jpg);
}

@keyframes blindvin {
    from {filter: saturate(1); top: 50%; left: 50%; width: 60%;height: 60%;}
    to {filter: saturate(10);  top: 49%; left: 49%; width: 62%;height: 62%;}
}
.vinsymbol {
    position: absolute;
    background-image: url(vinsymbol.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    animation-name: blindvin;
    animation-duration: 1500ms;
    animation-timing-function: steps(2);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.vinvladtext , .vinnetotext , .vinnonetext {
    position: absolute;
    width: 120%;
    top: -20%;
    left: -10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5vh;
    font-weight: bold;
    color: #ff0000;
}
.askquestion {
    width: 100%;
    top: 80%;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5vh;
    font-weight: bold;
    color: #ff0000;
    position: absolute;
    filter: drop-shadow(2px -2px #220000);
}
.buttonspopup {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 88%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes blindbuttons {
    from {background: linear-gradient(10deg, #00ff00, orange);border-radius: 10px; }
    to {background: linear-gradient(90deg, #00ff00, orange);border-radius: 30px;}
}
.repeat , .pistol {
    color: navy;
    font-size: 2.25vh;
    font-weight: bold;
    text-transform: uppercase;
    width: 40%;
    height: 80%;
    border-radius: 10px;
    cursor: pointer;
    animation-name: blindbuttons;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;

}
@keyframes enter {
    from { transform: scale(0);left: calc(50vw);top:-34vh;}
    to { transform: scale(1);left: calc(50vw - 44vh);top:10vh;}
}
.enter {
    animation-name: enter;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes exit {
    from { transform: scale(1);left: calc(50vw - 44vh);top:10vh;}
    to { transform: scale(0);left: calc(50vw);top:54vh;}
}
.exit {
    animation-name: exit;
    animation-duration: 1500ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}